#=========================================================================
# requirements.txt
#=========================================================================
# C2S2's Python packages

cocotb==1.8.1
fxpmath==0.4.8
ipython==7.34.0
matplotlib==3.5.3
pymtl3==3.1.14
PyYAML==6.0
scipy==1.7.3